<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%=title%> - 企大管理后台</title>
<% include include/linkfile.html %>
</head>
<body>
	<% include include/top.html%>
	<div id="global-main" style="position:relative;">
        <div class="g-tc" style="position:absolute; width:100%; line-height:90px; left:0; top:35%; margin-top:-45px;">
            <h1 style="font-size:40px; margin:0 20%; background:#FFF; color:#DDD; text-shadow:3px 3px 3px #000;box-shadow:0 0 10px -2px #000;">欢迎进入企大后台管理系统</h1>
        </div>
    </div>
    <% include include/bottom.html %>
</body>
</html>
