<!--头部-->
<div id="global-top">
	<div class="sysname"><i class="icon-qida"></i>企大管理后台</div>
	<div class="userexp">您好，<span><%-session.userName%></span> | <a href="/logout">退出</a></div>
	<ul class="sysmenu" style="display:none;">
	<%if(false){%>
		<%if(menulist['clm']){%><li href="/clm/"><a href="/clm/member/list">CLM云学习</a></li><%}%>
		<%if(menulist['ltr']){%><li href="/ltr/"><a href="/ltr/lecturer/list">名师在线经纪</a></li><%}%>
		<%if(menulist['org']){%><li href="/org/"><a href="/org/organization/list">在线商城</a></li><%}%>
		<!--<%if(menulist['vm']){%><li href='/wm/'><a href="javascript:;">培训圈</a></li><%}%>-->
		<%if(menulist['ord']){%><li href="/ord/"><a href="/ord/order/list">报表中心</a></li><%}%>
		<%if(menulist['app']){%><li href="/app/"><a href="/app/version/list">APP管理</a></li><%}%>
		<%if(menulist['cmn']){%><li href="/cmn/"><a href="/cmn/common/category">通用管理</a></li><%}%>
	<%}%>
		<%if(menulist['clm']){%><li href="/clm/"><a href="/clm/">CLM云学习</a></li><%}%>
	</ul>
</div>