<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%=title%> - 企大管理后台</title>
<%- include('include/linkfile.html')%>
<script>seajs.use('lessonlist');</script>
</head>
<body>
    <%- include('include/top.html')%>
    <div id="global-main">
        <%- include('include/left.html')%>
        <div id="global-main-right">
            <h1 class="comm-title"><%=title%></h1>
            <div id="typesearch" class="g-o g-padding">
                <div id="typeajax" class="selectmark">
                    <a href="javascript:;" class="hover" data-id="">全部</a>
                </div>
            </div>
            <div class="comm-body">
                <!-- 筛选 -->
                <div class="g-o g-padding">
                    <form class="formhash">
                        <span class="g-inlb g-sp10">查询条件：
                            <select id="searchName">
                                <option value="s_key" selected="selected">课程名称</option>
                                <option value="s_data" >更新时间</option>
                            </select> 
                        </span>
                        <span id="s_key" class="g-inlb g-sp20"><input type="text" name="courseTitle" placeholder="关键字"></span>
                        <span id="s_data" class="g-inlb g-sp20">
                            <input id="begintime" type="text" class="text-time" name="startTime" placeholder="开始时间" readonly><label for="begintime" class="but-date"><i class="icon-cal"></i></label> 至 
                            <input id="endtime" type="text" class="text-time" name="endTime" placeholder="结束时间" readonly><label for="endtime" class="but-date"><i class="icon-cal"></i></label>
                        </span>
                        <span class="g-inlb g-sp20">课程类型：
                        <select name="type">
                            <option value="">全部</option>
                        </select>
                        </span>
                        <span class="g-inlb g-sp20">来源：
                        <select name="library">
                            <option value="">全部</option>
                        </select>
                        </span>
                        <span class="g-inlb">
                            <button class="but-min but-ok" type="submit"><i class="icon-search"></i>查询</button> 
                            <button class="but-min but-cancel" type="reset"><i class="icon-trash-1"></i>清除</button>
                        </span>
                    </form>
                    <div id="formassist">
                        
                    </div>
                </div>
                <div class="g-o">
                    <div class="g-padding" id="batchbox">
                        <a href="javascript:;" data-comm="on" class="but but-comm but-group-l"><i class="icon-up"></i>上架</a><a data-comm="off" class="but but-comm but-group-r g-sp"><i class="icon-down"></i>下架</a>
                        <a href="javascript:;" data-comm="perfect" class="but but-comm but-group-l"><i class="icon-ok-circled"></i>设为精品</a><a data-comm="unperfect" class="but but-comm but-group-r g-sp"><i class="icon-minus-circled"></i>取消精品</a>
                        <a data-comm="move" class="but but-comm g-sp"><i class="icon-retweet"></i>移动</a>
                        <a data-comm="del" class="but but-comm g-sp"><i class="icon-cancel-circled"></i>删除</a>
                        
                        <!-- <a href="javascript:;" data-comm="on" class="but but-comm but-group-l but-disabled"><i class="icon-up"></i>上架</a><a data-comm="off" class="but but-comm but-group-r g-sp but-disabled"><i class="icon-down"></i>下架</a>
                        <a href="javascript:;" data-comm="perfect" class="but but-comm but-group-l but-disabled"><i class="icon-ok-circled"></i>设为精品</a><a data-comm="unperfect" class="but but-comm but-group-r but-disabled g-sp"><i class="icon-minus-circled"></i>取消精品</a>
                        <a data-comm="move" class="but but-comm but-disabled g-sp"><i class="icon-retweet"></i>移动</a>
                        <a data-comm="del" class="but but-comm but-disabled g-sp"><i class="icon-cancel-circled"></i>删除</a> -->
                    </div>
                    <div id="ajaxbox">
                        <!--表格-->
                        <table class="g-table">
                            <thead>
                                <tr class="g-tc">
                                    <th width="30"><div>
                                        <input type="checkbox" data-checkname='id'>
                                    </div></th>
                                    <th><div>课程名称</div></th>
                                    <th><div>课程分类</div></th>
                                    <th><div>课程类型</div></th>
                                    <th><div>状态</div></th>
                                    <th><div>精品</div></th>
                                    <th><div>来源</div></th>
                                    <th><div>更新时间</div></th>
                                    <th><div style="width:120px;">操作</div></th>
                                </tr>
                            </thead>
                            <tbody class="ajaxbox"></tbody>
                        </table>
                        <!--分页-->
                        <div id="pagenav" class="pagenav g-tr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('include/bottom.html')%>
</body>
</html>